<!-- users -->
<!-- 
<section class="my-2 container" >
    <h3 class="text-center text-capitalize p-4">All Users</h3>
    <table class="table table-bordered table-striped">
      <tbody id="myTable">
        <tr>
          <th>UserName</th>

          <th>Email</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>shivam</td>

          <td>shivammanawat@gmail.com</td>
          <td class="text-center">
            <button class="btn btn-sm btn-func btn-danger mx-3">Block</button>
            <button class="btn btn-sm btn-func btn-primary">UnBlock</button></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="my-2 container" >
    <h3 class="text-center text-capitalize p-4">All Mentors</h3>
    <table class="table table-bordered table-striped">
      <tbody id="myTable">
        <tr>
          <th>UserName</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>shivam sharma</td>
          <td>shivammsharma@gmail.com</td>
          <td class="text-center">
                <button class="btn btn-sm btn-func  btn-danger mx-3" >Block</button>
            <button class="btn btn-sm btn-func  btn-primary">UnBlock</button></td>
        </tr>
      </tbody>
    </table>
  </section> -->



<section class="my-2 container" *ngIf="users">
  <h3 class="text-center text-capitalize p-4">All Users</h3>
  <table class="table table-bordered table-striped">
    <tbody id="myTable">
      <tr class="text-center">
        <th>UserName</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let i of users">
        <td>{{i.userName}}</td>
        <td>{{i.email}}</td>
        <td class="text-center">
          <button  class="btn btn-sm btn-func btn-danger mx-3" (click)="block(i.id)">Block</button>
          <button  class="btn btn-sm btn-func btn-primary" (click)="unBlock(i.id)">UnBlock</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="my-2 container" *ngIf="mentors">
  <h3 class="text-center text-capitalize p-4">All Mentors</h3>
  <table class="table table-bordered table-striped">
    <tbody id="myTable">
      <tr class="text-center">
        <th>UserName</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let i of mentors">
        <td>{{i.userName}}</td>
        <td>{{i.email}}</td>
        <td class="text-center">
          <button  class="btn btn-sm btn-func btn-danger mx-3" (click)="block(i.id)">Block</button>
          <button  class="btn btn-sm btn-func btn-primary" (click)="unBlock(i.id)">UnBlock</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>