<section class="my-2 container" >
        <h3 class="text-center text-capitalize p-4">All Payments Users</h3>
        <table class="table table-bordered table-striped">
          <tbody id="myTable">
            <tr>
              <th>UserName</th>
              <th>Technology</th>
              <th>Amount Received</th>
              <th>Status</th>
              <th>Total Amount</th>
              <th>Action</th>
            </tr>
            <tr>
              <td>shivam</td>
              <td>Mean Stack</td>
              <td>1000Rs</td>
              <td>Pending</td>
              <td>2500Rs</td> 
              <td class="text-center">
                <button class="btn btn-sm btn-func btn-primary mx-3">Withdraw</button>
            </tr>
          </tbody>
        </table>
      </section>
    
