<section class="my-2 container">


  <h3 class="text-center text-capitalize p-4">All Payments</h3>
  <table class="table table-bordered table-striped">
    <tbody id="myTable">
      <tr>
        <th>Technology</th>
        <th>Fees</th>
        <th>Trainer Fees</th>
        <th>With Draw Money</th>
      </tr>
      <tr *ngFor="let i of paymentSuccess">
        <td>{{i.skillName}}</td>
        <td>{{i.fees}}</td>
        <td>{{i.trainerFees}}</td>
        <td class="text-center">
          <a class="btn  btn-md btn-success" (click)="Withdraw()">WithDraw</a>
        </td>
      </tr>
    </tbody>
  </table>
</section>