<footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
      
              <div class="col-lg-3 col-md-6 footer-info">
                <h3 style="font-size: 16px">Mentor On Demand</h3>
                <hr>
                <div class="container">
                  <img src="../../assets/home.jpg" width="90%" />
                </div>
              </div>
      
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="ion-ios-arrow-right"></i> <a routerLink="/">Home</a></li>
                  <li><i class="ion-ios-arrow-right"></i> <a routerLink="/login">Login</a></li>
                  <li><i class="ion-ios-arrow-right"></i> <a routerLink="/register">User Registeration</a></li>
                  <li><i class="ion-ios-arrow-right"></i> <a routerLink="/tregister">Trainer Registeration</a></li>
                  <li><i class="ion-ios-arrow-right"></i> <a routerLink="/contactus">Contact us</a></li>
                  <li><i class="ion-ios-arrow-right"></i> <a routerLink="/aboutus">About us</a></li>
                </ul>
              </div>
      
              <div class="col-lg-3 col-md-6 footer-contact">
                <h4>Contact Us</h4>
                <p>
                  <i class="fas fa-home mr-3 "></i> Perungudi, Chennai<br>
                  <i class="fas fa-phone mr-3"></i> 18009724653<br>
                  <i class="fas fa-envelope mr-3"></i> mentorondemand@gmail.com<br>
                </p>
      
                <div class="social-links">
                  <a routerLink="/" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a routerLink="/" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a routerLink="/" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a routerLink="/" class="google-plus"><i class="fa fa-google-plus"></i></a>
                  <a routerLink="/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
      
              </div>
      
              <div class="col-lg-3 col-md-6 footer-newsletter">
                <h4>Our Newsletter</h4>
                <p>Subscribe to get information about new trainings & technologies and get hands on experience.</p>
                <form action="" method="post">
                  <input type="email" name="email"><input type="submit" value="Subscribe">
                </form>
              </div>
      
            </div>
          </div>
        </div>
      
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong>Mentor On Demand</strong>. All Rights Reserved
          </div>
        </div>
      </footer>