<section class="my-2 container">
        <div class="jumbotron">
          <h1 class="text-center py-1">Welcome Traineer</h1>
          <div class="row py-3 text-center">
            <div class="col-sm-6">
              <div class="counter">
                <i class="fa fa-users fa-2x" aria-hidden="true"></i>
                <h2>Users</h2>
                <h2>420</h2>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="counter">
                <i class="fa fa-battery-full fa-2x" aria-hidden="true"></i>
                <h2>Trainings Completed</h2>
                <h2>400</h2>
              </div>
            </div>
          </div>

        </div>
      </section>
