.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    /* width: fit-content; */
    background-color: #e9ecef;
    border-radius: .25rem;
}

.container-fluid {
    background-image:url("../../../assets/home10.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
}