
<section class="my-5 container" *ngIf="showme">
  <div class="jumbotron">
    <h1 class="text-center py-1">Welcome shivam</h1>
    <div class="row py-3 text-center">
      <div class="col-sm-6">
        <div class="counter">
          <i class="fa fa-user fa-2x" aria-hidden="true"></i>
          <h2>Mentors</h2>
          <h2>256</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="counter">
          <i class="fa fa-battery-full fa-2x" aria-hidden="true"></i>
          <h2>Trainings Completed</h2>
          <h2>210</h2>
        </div>
      </div>
    </div>
  </div>
</section>