
a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }

  .btn:hover{
    color:white;
  }
  a:hover{
    color: black;
  }
  .btn {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    cursor: pointer;
    line-height: 24px;
    border-radius: 24px;
    width: 188px;
  }
  .btn,
  strong {
    font-weight: 500;
  }
