<app-navbar></app-navbar>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav text-center py-3">
        <div class="row">
            <div class="col-sm-2 col-sm-2 ">
                <a routerLink="search-trainings"><button class="btn btn-start btn-outline-light">Search
                    </button></a>
            </div>
            <div class="col-sm-2 col-sm-2 ">
                <a routerLink="user-notification"><button class="btn btn-start btn-outline-light">Notification
                    </button>
                </a>
            </div>
            <div class="col-sm-2 col-sm-2 ">
                <a routerLink="current-trainings"><button class="btn btn-start btn-outline-light">Current
                        Training</button></a>
            </div>
            <div class="col-sm-2 col-sm-2 ">
                <a routerLink="completed-trainings"><button class="btn btn-start btn-outline-light">Completed
                        Trainings</button></a>
            </div>
            <div class="col-sm-2 col-sm-2 ">
                <a routerLink="payment"><button class="btn btn-start btn-outline-light">Payment</button></a>
            </div>
            <div class="col-sm-2 col-sm-2 ">
                <a routerLink="payment-info"><button class="btn btn-start btn-outline-light">Receipt</button></a>
            </div>
        </div>
    </div>
</nav>
<div class="my-5"></div>
<router-outlet></router-outlet>
<div class="my-5">
    
    </div>
<app-footer></app-footer>