<section class="my-5 container">
    <form class="form-signin col">
        <div class="form-row">

            <div class="form-group col">
                <label>Technology</label>
                <select [(ngModel)]="tech" name="tech" class="form-control mb-2 rounded text-center dropdown">
                    <option disabled>Select Technology</option>
                    <option *ngFor="let t of skillData" value="{{t.name}}">{{t.name}}</option>
                </select>
            </div>

            <div class="form-group col my-2">
                <label></label>
                <button class="btn btn-md btn-info btn-block" (click)="onSubmit()">Search</button>
            </div>

        </div>

    </form>

</section>


<div *ngIf="status1" class="my-5 container">
    <div class="jumbotron">
        <div class="h4 text-center">
            <p> No search result found </p>
        </div>
        <!-- <div class="d-inline back-button"><button class="btn btn-md btn-secondary" (click)="backToHome()">Back</button>
        </div> -->
    </div>
</div>
<div *ngIf="status2" class="container py-4">
    <div class="row my-2">
        <div class="col-md-2 text-center">
            <input type="text" name="search" size="12" placeholder="Search By Name">
            <button> <i class="fa fa-search"></i></button>
        </div>
        <div class="col-md-8 text-center">
            <p class="text-muted h4"> Search Result for " {{tech}} "
            </p>
        </div>
        <div class="col-md-2 text-center">
            <!-- <button class="btn btn-md btn-secondary" (click)="backToHome()">Back</button> -->
        </div>
    </div>
    <div class="row my-2 ">
        <div class="col-md-12 my-1 ">
            <div class="display-pagination-control">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="row my-1">
        <div *ngFor="let i of showSearchData | filter: term | paginate: { itemsPerPage: 4, currentPage: p }"
            class="col-md-3 col-12">
            <div class="card">
                <img class="card-img-top" src="../../assets/img/user.jpg" alt="No Image">
                <div class="card-body">
                    <label class="font-weight-bolder"> Name : </label>
                    <p class="d-inline card-text"> {{i.firstName}} {{i.lastName}} </p><br />
                    <label class="font-weight-bolder"> Expertise Technology : </label>
                    <p class="d-inline card-text"> {{i.trainerTechnology}} </p><br>
                    <label class="font-weight-bolder"> Experience: </label>
                    <p class="d-inline card-text"> {{i.yearOfExperience}} </p><br>
                    <label class="font-weight-bolder"> LinkeIn Profile : </label>
                    <p class="d-inline card-text"><a target="_blank" href="{{i.linkedinUrl}}"> Check Profile</a></p><br>
                    <hr>
                    <div class="float-right"><button class="btn btn-sm btn-success" (click)="proposalSent(i.id)"> Details
                        </button></div>
                </div>
            </div>
        </div>

    </div>

</div>