  <nav class="navbar navbar-expand-lg" style="background: black; background-size: 400% 400%;">
  
      <a class="navbar-brand" routerLinkActive="true"  routerLink="/home" style="color: white">EduNet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
        <ul class="navbar-nav">
   
        </ul>
        <a class="nav-link"> <button class="btn btn-sm btn-info" type="submit" (click)="notification()">Notification</button></a>
      
        <a class="nav-link"> <button class="btn btn-sm btn-danger" type="submit" (click)="logout()">Logout</button></a>
      </div>
    </nav>