<section>
  <div class="bg-img" id="header">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <a class="navbar-brand ml-3" routerLinkActive="true" routerLink="/">Mentor On Demand</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active">
              <a class="nav-link" routerLink="/" routerLinkActive="true">Home <span class="sr-only">(current)</span></a>
            </li> -->
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link btn-md btn btn-info dropdown-toggle  text-center mx-1" href="#" id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:130px;">
              Register
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/user-register" routerLinkActive="true">User</a>
              <a class="dropdown-item" routerLink="/trainer-register" routerLinkActive="true">Trainer</a>
            </div>
          </li>
          <li>
            <a class="nav-link btn btn-md btn-info text-center" routerLink="/login" routerLinkActive="true"
              style="width:130px;">Login</a>
          </li>
        </ul>
        <!-- <a class="nav-link" routerLink="/login" routerLinkActive="true"
                    class="btn btn-info btn-md text-white text-center mx-1" style="width:130px;">Login</a>
                <a class="nav-link" routerLink="/register" routerLinkActive="true"
                    class="btn btn-info btn-md text-white text-center" style="width:130px;">Register</a> -->
      </div>
    </nav>
    <div class="text-center bgtext">
      <h1>We train you to build your skills and develop your future </h1>


        <button class="btn btn-info btn-md text-white my-1" (click)="navToSearch()">Get Started</button>
   
      <br>
      <!-- <button class="btn btn-success btn-md text-white my-5" (click)="navToRegister();">GET STARTED</button> -->
    </div>
  </div>
</section>




<section id="information">
  <div class="container py-5">
    <div class="row text-center">
      <div class="col-md-6 col-sm-6">
        <i class="fa fa-users" aria-hidden="true"></i>
        <h4 class="title my-2 py-1"><a routerLink="/user-register">Users</a></h4>
        <p class="text-white my-1"> User start your carrier with new technologies </p>
      </div>
      <div class="col-md-6 col-sm-6">
        <i class="fa fa-users" aria-hidden="true"></i>
        <h4 class="title my-2 py-1"><a routerLink="/trainer-register">Trainers</a></h4>
        <p class="text-white my-2"> Mentor gain more experience by training in new technologies </p>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container-fluid ">
    <div class="text-center shadow-lg my-5 mb-5 p-4">
      <h2>Grow your learning</h2>
      <h2>with advice from vetted growth mentors</h2>
      <p class="text-muted my-5 p-4">Receive a world class <strong>EDUCATION</strong> here </p>
    </div>
  </div>
</section>

<section>
  <div class="parallax"></div>
</section>

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-info">
          <h3 style="font-size: 16px">Mentor On Demand</h3>
          <hr>
          <div class="container">
            <img src="../../assets/home.jpg" width="90%" />
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/">Home</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/login">Login</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/register">User Registeration</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/tregister">Trainer Registeration</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/contactus">Contact us</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/aboutus">About us</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            <i class="fas fa-home mr-3 "></i> Perungudi, Chennai<br>
            <i class="fas fa-phone mr-3"></i> 18009724653<br>
            <i class="fas fa-envelope mr-3"></i> mentorondemand@gmail.com<br>
          </p>

          <div class="social-links">
            <a routerLink="/" class="twitter"><i class="fa fa-twitter"></i></a>
            <a routerLink="/" class="facebook"><i class="fa fa-facebook"></i></a>
            <a routerLink="/" class="instagram"><i class="fa fa-instagram"></i></a>
            <a routerLink="/" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a routerLink="/" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe to get information about new trainings & technologies and get hands on experience.</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Mentor On Demand</strong>. All Rights Reserved
    </div>
  </div>
</footer>