<section class="my-2 container">


    <h3 class="text-center text-capitalize p-4">All Payments Users</h3>
    <table class="table table-bordered table-striped">
      <tbody id="myTable">
        <tr>
          <th>User Id</th>
          <th>Technology</th>
          <th>Fees</th>
          <th>Status</th>
        </tr>
        <tr *ngFor="let i of userPayment">
         <td>{{i.userId}}</td>
         <td>{{i.skillName}}</td>
         <td>{{i.paymentStatus}}</td>
         <td>{{i.fees}}</td>
         </tr>
      </tbody>
    </table>
  </section>



  <section class="my-2 container" >
        <h3 class="text-center text-capitalize p-4">All Payments Mentors</h3>
        <table class="table table-bordered table-striped">
          <tbody id="myTable">
            <tr>
              <th>Trainer Id</th>
              <th>Technology</th>
              <th>Fees</th>
              <th>Commission</th>
              <th>Trainer Fees</th>
              <th>Edit Payment/Commission</th>
            </tr>
            <tr *ngFor="let i of userPayment">
                    <td>{{i.trainerId}}</td>
                    <td>{{i.skillName}}</td>
                    <td>{{i.fees}}</td>
                    <td>{{i.commision}}</td>
                    <td>{{i.trainerFees}}</td>
              <td class="text-center">
                  <a class="btn  mybtn  btn-success" (click)="moveToEdit(i.id)"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
          </tbody>
        </table>
      </section>
    