<section class="my-5 container">
        <div class="jumbotron">
          <h1 class="text-center py-1">Welcome Admin</h1>
          <div class="row py-3 text-center">
            <div class="col-sm-4">
              <div class="counter">
                <i class="fa fa-users fa-2x" aria-hidden="true"></i>
                <h2>Users</h2>
                <h2>512</h2>
              </div>
            </div>
            <div class="col-sm-4 my-1">
              <div class="counter">
                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                <h2>Mentors</h2>
                <h2>452</h2>
              </div>
            </div>
            <div class="col-sm-4 my-1">
              <div class="counter">
                <i class="fa fa-battery-full fa-2x" aria-hidden="true"></i>
                <h2>Trainings Completed</h2>
                <h2>400</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
  



<!-- <section class="my-2 container" *ngIf="showDetails">
        <div class="jumbotron">
          <h1 class="text-center py-1">Welcome {{profileName}}</h1>
          <div class="row py-3 text-center">
            <div class="col-sm-4">
              <div class="counter">
                <i class="fa fa-users fa-2x" aria-hidden="true"></i>
                <h2>Users</h2>
                <h2>{{countUsers}}</h2>
              </div>
            </div>
            <div class="col-sm-4 my-1">
              <div class="counter">
                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                <h2>Mentors</h2>
                <h2>{{countMentors}}</h2>
              </div>
            </div>
            <div class="col-sm-4 my-1">
              <div class="counter">
                <i class="fa fa-battery-full fa-2x" aria-hidden="true"></i>
                <h2>Trainings Completed</h2>
                <h2>{{countTrainings}}</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
   -->