#text:hover
{
    color: black
}
.container-fluid {
    background-image: url("../../../assets/home10.jpg");;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
}