<div class="container-fluid py-5">
  <div class="row py-5">
    <div class="col-sm-4">
      <div class="card" style="height:200px auto;">
        <div class="card-header">
          Pending
        </div>
        <ul *ngFor="let i of pendingRequest" class="list-group list-group-flush">
          <li  class="list-group-item">
            <p *ngIf="( i.accept == false) && (i.rejectNotify == false)">You opted for {{i.skillname}} under
              {{i.mentorName}} from {{i.startDate  | date: 'dd/MM/yyyy' }} to
              {{i.endDate  | date: 'dd/MM/yyyy'}} on time {{i.timeSlot}} </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="height:200px auto;">
        <div class="card-header">
          Accepted
        </div>
        <ul *ngFor="let i of acceptedTrainings" class="list-group list-group-flush">
          <li  class="list-group-item">
            <p *ngIf="( i.accept == true) && (i.rejectNotify == false)">You requested for {{i.skillname}} under
              {{i.mentorName}} from {{i.startDate  | date: 'dd/MM/yyyy' }} to
              {{i.endDate  | date: 'dd/MM/yyyy'}} on time {{i.timeSlot}} </p>
          </li>
          <li class="list-group-item">
            <button type="button" class="btn btn-sm btn-primary" (click)="payment(i.id)">Payment</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="height:200px auto;">
        <div class="card-header">
          Rejected Request
        </div>
        <ul *ngFor="let i of rejectedTrainings" class="list-group list-group-flush">
          <li  class="list-group-item">
            <p *ngIf="( i.rejectNotify == true) && (i.accept == false)">You opted for {{i.skillname}} under
              {{i.mentorName}} from {{i.startDate  | date: 'dd/MM/yyyy' }} to {{i.endDate  | date: 'dd/MM/yyyy'}}
              on time {{i.timeSlot}} </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>