<section class="my-2 container" *ngIf="curT">
    <h3 class="text-center text-capitalize p-4">Current Trainings</h3>
    <table class="table table-striped text-center table-responsive">
      <tbody id="myTable">
        <tr>
          <th>Techonolgy</th>
          <th> User Name </th>
          <th>Trainer Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Timings</th>
          <th>Rating</th>
          <th>Progress</th>
        </tr>
        <tr *ngFor="let i of curT">
          <td>{{i.skillname}}</td>
          <td>{{i.userName}}</td>
          <td>{{i.mentorName}}</td>
          <td>{{i.startDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{i.endDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{i.timeSlot}}</td>
          <td>{{i.rating}}</td>
          <td>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" [style.width.px]="i.progress">
                {{i.progress}}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>